* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c6f783;
}
section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  height: 85%;
  width: 90%;
  max-width: 900px;
  margin: 2rem auto 0;
  border-radius: 3.5rem;
  overflow: hidden;
}

.flex {
  display: flex;
  background-color: white;
}

.flex .left {
  min-width: 25%;
  flex-grow: 1;
  background-image: url("./img/yoda.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex .right {
  padding: 1em;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
}

.right > .translate,
textarea {
  border: 2px solid grey;
  border-radius: 12px;
  height: 30%;
  width: 80%;
  overflow: auto;
  padding: 0.5em 0.3em;
}

.right > h1 {
  font-size: 5.5rem;
  margin: 3% 0 3% 0;
  height: clac(20%-6%);
  text-align: center;
}

.right > #btn {
  margin-bottom: 2em;
  /* padding:0.1em; */
  min-height: 12%;
  width: 45%;
}
@media (max-width: 700px) {
  .right > h1 {
    font-size: 7vw;
  }
  .flex .right {
    padding: 0.8em;
  }
  .right > .translate,
  textarea {
    width: 90%;
  }
}
